# Python
_pycache_/
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env

# Node
node_modules/
build/
dist/
*.log

# Data
demo_cache/
evaluation/
backend/data/ecss/*.pdf
ESA-Mission*/
ESA-Mission*_extracted/
sentinel/backend/data/esa_raw/

*.bin
*.pickle
*.sqlite3
